h1 {
    font-family: 'Playfair Display', serif;
}

::selection {
    color: white;
    background: #FEBB60;
}

.row {
    width: 100%;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}


#fixedheader {
    position: fixed;
}

.header {
    margin: 0;
    z-index: 100;
    width: 100%;
    padding: 0.5%;

    color: white;
    background-color: #41B188;

    transition-duration: 0.4s;
}


.navbtn {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.2vw;

}


.navbox {
    display: flex;
    justify-content: center;
    align-items: center;


}

.navbtn:hover {
    color: #FEBB60;

}

.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-size: 2.7vw;
    transition: all 0.3s linear;
    white-space: nowrap;

}

.logo:hover {
    animation: logoanimation 5s linear infinite;

}

@keyframes logoanimation {
    0% {
        color: white;
    }

    25% {
        color: purple;
    }

    50% {
        color: blue;
    }

    75% {
        color: cornflowerblue;
    }

    100% {
        color: white;
    }

}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FEBB60;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.bookbtn {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 0.3vw 0.7vw;
    white-space: nowrap;
    font-size: 1.2vw;
    transition: 0.25s ease-in-out;

    color: white;
    background-color: #FEBB60;
}

.bookbtn:hover {
    color: #FEBB60;
    background-color: white;
}

.hero-banner {
    min-height: 60vh;
    padding: 5%;
    color: white;
    background-image: url(./covid_test.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: #00000090;
}

.hero {
    height: 500px;
    width: auto;
    /* background-image: url(./covid_test.jpeg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    font-size: 3.5rem !important;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.2vw;

}

.hero .row {
    height: 100%;
}

.hero .text-area {
    height: 100%;
    padding: 0 1rem 3 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9dc1dd8a;
    text-align: center;
}

.hero .btn {
    width: 25%;
    border-color: #1B4965 !important;
    background-color: #1B4965 !important;
    color: #f5feff !important;
}

.hero .btn:hover {
    background-color: transparent !important;
    color: #1B4965 !important;
}

.text_container {
    padding: 50px 100px 10px 100px !important;
}

.text_container h1 {
    font-family: 'Playfair Display', serif !important;
    font-weight: 400;
    text-decoration: none;
    color: #34906e;
    cursor: pointer;
    font-size: 2.5vw !important;
}

.text_container .text-area-left {
    padding: 0px 100px 0px 0px !important;
}

.text_container .list-group {
    padding-right: 10px !important;
}


.text_container .list-group-item {
    align-self: left !important;
    font-family: 'Playfair Display', serif !important;
}

.news_box_group {
    padding: 50px 150px 0px 150px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news_box_group .area_major {
    height: 300px;
    width: 65%;
    background: url(./covid_test.jpeg) no-repeat;
    background-size: cover;
}

.news_box_group .text_area_major {
    background-color: #ffffffb2 !important;
    padding: 150px 50px 50px 50px;
    width: 100%;
    height: 100%;
}

.news_box_group .title {
    font-family: 'Roboto Serif', serif !important;
    color: red;
    font-size: 1.6vw;
}

.news_box_group .content {
    color: black;
    font-size: 2vw;
    font-family: 'Playfair Display', serif;
}

.news_box_group .area_sub {
    height: 300px;
    width: 32%;
    background: url(./covid_test.jpeg) no-repeat;
    background-size: 100% 60%;
}

.news_box_group .text_area_sub {
    width: 100%;
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 10px;

}

.faq_box {
    padding: 10px 180px 10px 180px;
    justify-content: center;
}

.faq_box .group_1 {
    padding-bottom: 30px;
}


.faq_title {
    padding: 10px 180px 10px 180px;
    text-align: center;
}

.faq_title .text_area {
    font-family: 'Playfair Display', serif;
    color: green;
    font-size: 2vw;

}

.place_holder {
    padding-top: 20px;
    padding-bottom: 20px;
}