/* style for about us page */
body {
    overflow-x: hidden;
}

section {
    min-height: 700px;
}

.button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 1rem;
    transition: all 0.3s;
}

.button:hover {
    color: #112F24;
    background-color: white;
}

.hero-banner {
    height: 100vh;
    background-image: url('./about-us-hero-banner-image.jpeg');
}

.hero-banner h1, .hero-banner p, .our-customers h1, .our-team h1, .our-team p{
    color: white;
}

.motivation-section {
    height: 700px;
    background-image: url('./about-us-hero-banner-image.jpeg');
}

.motivation-section h1, .motivation-section p {
    color: #112F24;
}

.our-customers {
    height: 700px;
    background-image: url('./about-us-hero-banner-image.jpeg');
}

.our-customers p, .our-customers h1 {
    color: white;
}

.our-team {
    padding: 10rem 0;
    background-color: #41b188;
}

.our-team p {
    font-weight: 300;
}
